extends layout_template

block content
  #container.col

    .alert.alert-danger(role='alert')
      h1
        | Thank you for visiting WeEat, you have now been logged out! 
        br
        | Please click 
        a.alert-link(href='signIn') back to login 
        | to sign in again.

